body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

a {
    text-decoration: none;
    color: black;
}

/* Dark mode */

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}


.toggle-button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
    border: none;
    font-size: 16px;
}

.toggle-button:hover {
    background-color: #121212;
    color: white;
}

.navbar {
    border-bottom: 1px solid #f3f3f7;
}

.nav-link:hover, .nav-link:focus {
    color: #f7d959;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 6px;
    left: 0;
    background-color: #f7d959;
    transition: width 0.3s ease;
}

.nav-link:hover::after, .nav-link:focus::after {
    width: 100%;
}

.about_us {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_us h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.about_us p {
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.6;
    max-width: 800px;
}

.footer {
    background-color: #181818;
    color: white;
    padding: 40px 20px;
}

.foot_cont {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.foot_nav {
    display: flex;
    flex-direction: column;
}

.foot_nav a {
    color: white;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.foot_nav a:hover {
    color: #f7d959;
}

.foot_fed {
    display: flex;
    flex-direction: column;
}

.foot_fed a {
    margin: 5px 0;
    color: white;
}

.foot_fed a:hover {
    color: #f7d959;
}

.fot button {
    background-color: #FFFBE5;
    height: 40px;
    padding: 10px 50px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    transition: background-color 0.3s ease;
}

.fot button:hover {
    background-color: #f0c94c;
}
